*-build/
*-scratch/
fixtures/*.txt
dictionary-test*
!dictionary-test*.log
phrase-store-test
**/*.dict
**/*.parse
**/*.rlebwt
**/*.rlebwt.meta
**/*.ssa
**/*.ssa_t
**/*.ri4
**/*.head_sa
**/*.agg
**/*.sA
**/*.sxi
__pycache__/
